@font-face {
    font-family: regul;
    src: url(font/Yekan-Bakh-FaNum-04-Regular.woff);
}

@font-face {
    font-family: medium;
    src: url(font/Yekan-Bakh-FaNum-05-Medium.woff);
}

@font-face {
    font-family: bold;
    src: url(font/Yekan-Bakh-FaNum-06-Bold.woff);
}

@font-face {
    font-family: heavy;
    src: url(font/Yekan-Bakh-FaNum-07-Heavy.woff);
}

@font-face {
    font-family: fat;
    src: url(font/Yekan-Bakh-FaNum-08-Fat.woff);
}

body {
    background-color: #f3f4f6;
    margin: 0;
    padding: 0;
    border: none;
}

.login-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 15px;
    width: 40%;
    margin: 6rem auto;
    padding: 3rem 1rem;
    background-color: #ffffff;
    border-radius: 15px;
}

.div1 {
    display: flex;
    justify-content: center;
    column-gap: 50px;
}

.signup {
    text-decoration: none;
    font-family: medium;
    color: #ffffff;
    background-color: #3b82f6;
    padding: 0.5em 0;
    width: 5em;
    text-align: center;
    border-radius: 11px;
    transition: all 0.5s;
}

.signup:hover {
    background-color: #ebf2fe;
    color: #3b82f6;
    transition: all 0.5s;
}

.login {
    text-decoration: none;
    font-family: medium;
    color: #3b82f6;
    background-color: #ebf2fe;
    padding: 0.5em 0;
    width: 5em;
    text-align: center;
    border-radius: 11px;
    transition: all 0.5s;
}

.login:hover {
    background-color: #3b82f6;
    color: #ffffff;
    transition: all 0.5s;
}

.hi {
    font-family: bold;
    font-size: 1.5em;
    color: #64748b;
    margin-bottom: 0;
}

.welcome {
    font-family: medium;
    font-size: 1em;
    color: #9ca1b1;
    margin-top: 0;
}

.div2 {
    display: flex;
    justify-content: space-around;
    width: 80%;
}

.div2 > a {
    text-decoration: none;
    font-family: medium;
    background-color: #fefefe;
    width: 30%;
    color: #64748b;
    padding: 1em 2em;
    text-align: center;
    transition: all 0.5s;
    border-radius: 5px;
    position: relative;
}

.div2 > a:hover {
    background-color: #d8e6fd;
    transition: all 0.5s;
} 

.gmail::before {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1.33em' height='1em' viewBox='0 0 256 193'%3E%3Cpath fill='%234285f4' d='M58.182 192.05V93.14L27.507 65.077L0 49.504v125.091c0 9.658 7.825 17.455 17.455 17.455z'/%3E%3Cpath fill='%2334a853' d='M197.818 192.05h40.727c9.659 0 17.455-7.826 17.455-17.455V49.505l-31.156 17.837l-27.026 25.798z'/%3E%3Cpath fill='%23ea4335' d='m58.182 93.14l-4.174-38.647l4.174-36.989L128 69.868l69.818-52.364l4.669 34.992l-4.669 40.644L128 145.504z'/%3E%3Cpath fill='%23fbbc04' d='M197.818 17.504V93.14L256 49.504V26.231c0-21.585-24.64-33.89-41.89-20.945z'/%3E%3Cpath fill='%23c5221f' d='m0 49.504l26.759 20.07L58.182 93.14V17.504L41.89 5.286C24.61-7.66 0 4.646 0 26.23z'/%3E%3C/svg%3E");
    position: absolute;
    right: 19%;
    top: 37%;
}

.github::before {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1.5em' height='1.5em' viewBox='0 0 16 16'%3E%3Cpath fill='black' d='M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59c.4.07.55-.17.55-.38c0-.19-.01-.82-.01-1.49c-2.01.37-2.53-.49-2.69-.94c-.09-.23-.48-.94-.82-1.13c-.28-.15-.68-.52-.01-.53c.63-.01 1.08.58 1.23.82c.72 1.21 1.87.87 2.33.66c.07-.52.28-.87.51-1.07c-1.78-.2-3.64-.89-3.64-3.95c0-.87.31-1.59.82-2.15c-.08-.2-.36-1.02.08-2.12c0 0 .67-.21 2.2.82c.64-.18 1.32-.27 2-.27s1.36.09 2 .27c1.53-1.04 2.2-.82 2.2-.82c.44 1.1.16 1.92.08 2.12c.51.56.82 1.27.82 2.15c0 3.07-1.87 3.75-3.65 3.95c.29.25.54.73.54 1.48c0 1.07-.01 1.93-.01 2.2c0 .21.15.46.55.38A8.01 8.01 0 0 0 16 8c0-4.42-3.58-8-8-8'/%3E%3C/svg%3E");
    position: absolute;
    right: 12%;
    top: 28%;
}

.yahoo::before {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1.5em' height='1.5em' viewBox='0 0 24 24'%3E%3Cpath fill='%235f01d1' d='M10.5 7.59L8.16 13.2L5.85 7.59H2l4.29 9.64l-1.54 3.47H8.5l5.74-13.11zm4.5 5.14c-1.37 0-2.41 1.04-2.41 2.27c0 1.17 1 2.16 2.34 2.16c1.39 0 2.43-1.03 2.43-2.26c0-1.21-1-2.17-2.36-2.17m2.72-9.43l-3.83 8.59h4.28L22 3.3z'/%3E%3C/svg%3E");
    position: absolute;
    right: 21%;
    top: 28%;
}

.linkdin::before {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1.5em' height='1.5em' viewBox='0 0 256 256'%3E%3Cg fill='none'%3E%3Crect width='256' height='256' fill='white' rx='60'/%3E%3Crect width='256' height='256' fill='%230a66c2' rx='60'/%3E%3Cpath fill='white' d='M184.715 217.685h29.27a4 4 0 0 0 4-3.999l.015-61.842c0-32.323-6.965-57.168-44.738-57.168c-14.359-.534-27.9 6.868-35.207 19.228a.32.32 0 0 1-.595-.161V101.66a4 4 0 0 0-4-4h-27.777a4 4 0 0 0-4 4v112.02a4 4 0 0 0 4 4h29.268a4 4 0 0 0 4-4v-55.373c0-15.657 2.97-30.82 22.381-30.82c19.135 0 19.383 17.916 19.383 31.834v54.364a4 4 0 0 0 4 4M38 59.628c0 11.864 9.767 21.626 21.632 21.626c11.862-.001 21.623-9.769 21.623-21.631C81.253 47.761 71.491 38 59.628 38C47.762 38 38 47.763 38 59.627m6.959 158.058h29.307a4 4 0 0 0 4-4V101.66a4 4 0 0 0-4-4H44.959a4 4 0 0 0-4 4v112.025a4 4 0 0 0 4 4'/%3E%3C/g%3E%3C/svg%3E");
    position: absolute;
    right: 12%;
    top: 28%;
}

form {
    display: flex;
    flex-direction: column;
    width: 60%;
    font-family: medium;
    color: #64748b;
    row-gap: 10px;
}

.inp {
    padding: 0.5rem 1rem;
    background-color: #f4f5f7;
    border: 1px solid transparent;
    border-radius: 10px;
}

.inp:focus {
    outline: none;
    border: 1px solid #64748b;
}

.lrule {
    position: relative;
    align-self: center;
}

.irule {
    position: absolute;
    top: 10%;
}

.formlogin {
    text-decoration: none;
    font-family: medium;
    color: #ffffff;
    background-color: #3b82f6;
    padding: 0.5em 0;
    text-align: center;
    border-radius: 11px;
    transition: all 0.5s;
    border: 2px solid transparent;
}

.formlogin:hover {
    background-color: #ebf2fe;
    color: #3b82f6;
    border: 2px solid #3b82f6;
    transition: all 0.5s;
}

@media screen and (max-width:1500px) {
.login-div {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

    .div2 {
        flex-direction: column;
        align-items: center;
    }

    .div2 > a {
        width: 80%;
    }

    .gmail::before,
    .github::before,
    .yahoo::before,
    .linkdin::before {
        right: 28%;
        top: 35%;
    }
}

@media screen and (max-width:1150px) {
    .gmail::before,
    .github::before,
    .yahoo::before,
    .linkdin::before {
        right: 10%;
        top: 35%;
    }
}